
.photos-bg {
    background-color: #d3d3d3;
    height: 100vh;
}

.padding-34 {
    padding-left: 70px !important;
}

.btn-primary {
    background-color: #e5332a !important;
    color: #ffffff !important;
}

.container-text {
    background-color: #ffffff;
    height: 100vh;
}

.card-top {
    margin-top: 10px !important;
}

.text-left {
    text-align: left;
}

.text-black {
    color: #000000 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-middle {
    word-break: break-all;
    font-size: 14px !important;
    font-weight: normal;
}

.title-description {
    color: #484848 !important;
    font-size: 32px !important;
    font-weight: bold;
}

.text-description {
    font-size: 18px !important;
    color: #484848 !important;
    line-height: 2;
}

.grip-top {
    margin-top: 20px !important;
}

.content-more {
    padding-left: 33px !important;
}

.video-content {
    max-width: 280px !important;
    text-align: center !important;
    background-color: black;
    height: 205px !important;
}

.select-content {
    width: 220px;
}

.text-center {
    text-align: center !important;
}

@media only screen and (max-width: 600px) {
    .select-content {
        width: 150px;
    }
    .content-more {
        padding-left: 20px !important;
    }
}
