
.MuiDialog-paperWidthSm {
    border-radius: 12px !important;
    max-width: 568px !important;
}

.MuiButton-containedPrimary {
    background-color: #e5332a !important;
    padding: 12px 20px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
}

.MuiButton-outlinedSecondary {
    color: #e5332a !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    padding: 12px 20px !important;
    border-radius: 10px !important;
}

.MuiGrid-item {
    margin-top: 10px !important;
}

.MuiButton-root {
    font-family: "Montserrat-Medium" !important;
}

.makeStyles-fixed-11 {
    background-color: #ffffff !important;
}
