
.MuiAppBar-colorPrimary {
    background-color: #000000 !important;
}

.logo-header {
    flex: 1;
    margin-right: 1200px !important;
}

@media only screen and (max-width: 600px) {
    .logo-header {
        flex: 1;
        margin-right: 100px !important;
    }
    .MuiAppBar-colorPrimary {
        background-color: #ffffff !important;
    }
}

.bg-header {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #000000 !important;
    height: 70px;
    z-index: 1028;
}

.MuiContainer-root {
    padding-left: 24px !important;
}

.content-header {
    padding-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.block-inline {
    display: inline-block;
    width: 45%;
}

.content-text-header {
    text-align: right;
}

.text-header {
    display: inline-block;
    margin-left: 44px;
}

.content-header-responsive {
    display: none;
}

.content-dialog {
    min-width: 250px !important;
    text-align: center !important;
    display: block !important;
    padding-top: 40px;
}

a {
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .content-header {
        padding-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .content-text-header {
        display: none;
    }

    .content-header-responsive {
        display: inline-block;
        margin-left: 100px;
    }

}
