/* ------ Font Montserrat ------- */
@font-face {
  font-family: 'Montserrat-Regular'; /*a name to be used later*/
  src: url('./assets/font/montserrat_regular.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Montserrat-Medium'; /*a name to be used later*/
  src: url('./assets/font/montserrat_medium.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Montserrat-Italic'; /*a name to be used later*/
  src: url('./assets/font/montserrat_italic.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Montserrat-Semibold'; /*a name to be used later*/
  src: url('./assets/font/montserrat_semibold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Montserrat-Bold'; /*a name to be used later*/
  src: url('./assets/font/montserrat_bold.ttf'); /*URL to font*/
}

:root {
  --canvasColor: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Montserrat-Medium' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-content {
  border-radius: 16px !important;
  min-height: 450px;
  box-shadow: 0 3px 15px rgba(51,51,51,.2) !important;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.card-content:hover {
    transform: scale(1.1);
}

.MuiGrid-spacing-xs-3 {
  margin-top: 0px !important;
  margin-left: -34px !important;
}

.text-primary {
  font-size: 16px;
  font-family: 'Montserrat-Medium' !important;
  color: #5a5655;
  font-weight: bold;
}

.text-seconday {
  font-size: 14px;
  font-family: 'Montserrat-Medium' !important;
  color: #5a5655;
  font-weight: normal;
}

.text-white {
  color: white !important;
}

span {
  font-family: "Montserrat-Medium" !important;
}

.top-20 {
  margin-top: 20px ;
}
