
.slide-container {
    width: 100%;
    margin: auto; }

h3 {
    text-align: center; }

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: start;
    background-size: cover;
    height: 63vh;
}

.each-slide span {
    width: 50%;
    padding: 20px;
    font-size: 42px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.each-fade {
    display: flex;
}

.each-fade .image-container {
    width: 100%;
    overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
}

.each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}

.input-login {
    min-width: 400px !important;
}

.input-card {
    min-width: 300px !important;
}

.text-dialog {
    margin-top: 10px !important;
}

.img-large {
    width: 120px !important;
    height: 120px !important;
}

@media only screen and (max-width: 600px) {
    .input-login {
        min-width: 200px !important;
    }
    .input-card {
        min-width: 200px !important;
    }
    .photos-bg {
        height: 200vh !important;
    }
    .each-slide span {
        width: 100%;
    }
    .MuiGrid-spacing-xs-3 {
        margin-left: -19px !important;
    }
}

.makeStyles-white-22 {
    background-color: #ffffff !important;
}
